.about-container {
  width: 80%;
  display: flex;
  margin: 3rem auto;
  min-height: 50vh;
  border-radius: 5px;
  background: var(--secondaryColor);
  justify-content: center;
  align-items: center;
}

.about-container__skills {
  justify-content: space-around;
  flex-direction: flex-start;
  flex-wrap: wrap;
}

.photo_wrapper {
  display: flex;
  width: 40%;
  align-items: center;
  margin: 1rem;
}

.photo_wrapper img {
  width: 400px;
  height: 300px;
  margin-top: 0;
  border-radius: 50%;
}

.about__wrapper-text {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 1rem;
}

.about__wrapper-text p {
  margin: 1rem 0.5rem;
  color: var(--textColor);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 25%;
  transition: 0.3s;
  margin: 1rem;
  background-color: var(--primaryColor);
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -webkit-animation: flip 1s;
  animation: flip 2s;
}

.container-card {
  padding: 1rem;
  background-color: var(--primaryColor);
  text-align: center;
}

.container-card i,
.container-card p {
  font-size: 2rem;
}