.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 25%;
  transition: 0.3s;
  margin: 1rem;
  background-color: var(--primaryColor);
  border-radius: 15px;
}

.card a {
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -webkit-animation: flip 1s;
  animation: flip 2s;
}

.container-card {
  padding: 1rem;
  background-color: var(--primaryColor);
  text-align: center;
  color: var(--textColor);
}