@import "landing.css";
@import "contact.css";
@import "about.css";
@import "portfolio.css";
@import 'resume.css';
@import "card.css";
@import "footer.css";
@import "nav.css";
@import "button.css";
@import "singleBlog.css";
@import "blog.css";
@import "container.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}

:root {
  --primaryColor: #6CDDD6;
  --secondaryColor: #272154;
  --textColor: #CCA7B2;
}

.header-style {
  text-align: center;
  margin: 2rem 0;
  color: var(--textColor);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--primaryColor);
}

input:focus,
textarea:focus {
  outline: none;
}
@media (max-width: 1219px) {
  .hero-text {
    font-size: 2rem;
    margin-top: 2rem;
  }

  nav {
    width: 50vw;
    margin: 1rem auto;
  }

  nav i {
    display: none !important;
  }

  li a {
    font-size: 1.5rem;
  }

  .card {
    width: 60%;
  }

  .container-contact form {
    width: 90%;
  }

  .container-contact form input,
  .container-contact form textarea {
    width: 80%;
  }

  .footer-style i {
    display: none !important;
  }

  .footer-style a {
    font-size: 2rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about__wrapper-text p {
    font-size: 1.3rem;
  }

  .photo_wrapper {
    width: 100%;
    justify-content: center;
  }

  .photo_wrapper img {
    width: 350px;
    height: 250px;
  }
}
@media (max-width:1000px) {
  .project_wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width:700px) {
  .photo_wrapper img,
  nav {
    display: none;
  }

  .hero-text p {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondaryColor);
  }

  .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 10vh;
  }

  .about__wrapper-text,
  .card {
    width: 80%;
  }

  .card:hover {
    animation: none;
  }

  .about__wrapper-text p {
    font-size: 1.5rem;
  }

  .project_wrapper {
    flex-direction: column;
  }

  .portfolio-container-hero {
    margin: 0 auto;
  }

  .portfolio-container__skills {
    margin: 1rem auto;
    width: 100%;
  }

  .portfolio-container__skills-category {
    height: 33.3%;
  }

  .about-container,
  .container-blog,
  .container-contact,
  .container-contact form,
  .container-resume,
  .portfolio-container-hero {
    width: 100%;
  }

  .container-contact form input,
  .container-contact form textarea {
    width: 90%;
  }

  .blog-container__content {
    width: 100vw;
  }

  .blog-container__content > p {
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }
}