@import "landing.css";
@import "contact.css";
@import "about.css";
@import "portfolio.css";
@import 'resume.css';
@import "card.css";
@import "footer.css";
@import "nav.css";
@import "button.css";
@import "singleBlog.css";
@import "blog.css";
@import "container.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}

:root {
  --primaryColor: #00A8E8;
  --secondaryColor: #003459;
  --textColor: white;
}

.header-style {
  text-align: center;
  margin: 2rem 0;
  color: var(--textColor);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primaryColor);
}

input:focus,
textarea:focus {
  outline: none;
}